---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
	<main class="mx-auto h-screen bg-transparent px-9 py-9">
		<div class="p-4"></div>

		<h1 class="hidden">Welcome to the Revolver Minecraft Server!</h1>

		<Image
			class="m-auto select-none"
			src="/media/minecraft-revolver-mode.webp"
			alt="Logo of Minecraft: Revolver Mode"
			height={700}
			width={700}
			draggable={false}
			loading="eager"
		/>

		<div class="p-8"></div>

		<div class="mx-auto h-fit w-fit">
			<button aria-label="Multiplayer" class="group outline-none">
				<span class="hidden">Multiplayer</span>

				<Image
					class="m-auto block group-hover:hidden group-focus:hidden"
					src="/media/multiplayer.webp"
					alt="Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
				/>

				<Image
					class="m-auto hidden group-hover:block group-focus:block"
					src="/media/multiplayer-hovered.webp"
					alt="Hovered over Minecraft Multiplayer button"
					height={60}
					width={600}
					draggable={false}
					loading="eager"
				/>
			</button>
		</div>
	</main>
</Layout>
