---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
	<div class="p-4"></div>

	<h1 class="text-center text-3xl">List of Mods in Minecraft Revolver</h1>

	<div class="p-4"></div>

	<div class="h-[80vh] bg-[rgba(0,0,0,0.5)]">Test</div>
</Layout>
