---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
	<div class="flex flex-row gap-3">
		<Image
			src="/media/server-icon.png"
			width={120}
			height={120}
			alt="Icon of Revolver server"
			style="image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; -ms-interpolation-mode: nearest-neighbor; image-rendering: pixelated;"
		/>

		<h1 class="text-4xl">Play Multiplayer</h1>
	</div>
</Layout>

<script></script>
