---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Revolver MC</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Minecraft";
		src: url("/fonts/MinecraftDefault-Regular.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		image-rendering: pixelated;
		background:
			linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("/blocks/dirt.webp");
		background-size: 70px 70px;
		font-family: "Minecraft", monospace;
	}
</style>
