---
import "../styles/global.css";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Revolver MC</title>

		<style is:global>
			@font-face {
				font-family: "Minecraft";
				src: url("/fonts/MinecraftDefault-Regular.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}

			html,
			body {
				margin: 0;
				width: 100%;
				height: 100%;
				image-rendering: pixelated;
				font-family: "Minecraft", monospace;
				background-color: #1e150f;
				color: white;
			}

			#background {
				background: url("/blocks/dirt-menu.webp");
				background-size: 1000px 562px;
			}
		</style>
	</head>
	<body>
		<SpeedInsights />

		<noscript class="absolute right-0 left-0 mx-auto w-fit">
			You don't have Javascript enabled. Some, or most functionality won't be
			available. What gives. &#62;:(
		</noscript>

		<div id="background" class="h-screen w-screen">
			<slot />
		</div>
	</body>
</html>
